<!DOCTYPE html>
<html>
    <head>
        <title>Barramundi</title>
        <link rel="stylesheet" href="{{url_for('static', filename='timeline.css')}}">
    </head>
    <body>
        <form action="{{url_for('home')}}">
          <input id="back" type="submit" value="Back">
        </form>
        <div class="timeline">
            <div class="container right">
                <div class="content">
                    <h2>Brought in</h2>
                    <p>Fish are brought in as larvae and are introduced to Singapore Aquaculture Technologies when they become fingerlings.</p>
                </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2 class="green">Fishery</h2>
                <p>They are added to a closed-containment system that allows for higher yields and precise control of various elements like oxygen levels, waste and feed.</p>
                <p>The closed containment system uses video analytics to track behaviour like swimming patterns and skin lesions, ensuring fish harvested are of the highest quality.</p>
                <p>Biofilters are used to break down waste products like ammonia into nitrogen as well as preventing overfeeding.</p>
                <p>Additionally, 50% of the farms use solar energy to run its operations.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Supermarket</h2>
                <p>It takes about 8-10 months for the fishes to be ready for sale at the SAT.</p>
              </div>
            </div>
          </div>
    </body>
</html>