<!DOCTYPE html>
<html>
    <head>
        <title>Pasar Japanese Cucumber</title>
        <link rel="stylesheet" href="{{url_for('static', filename='timeline.css')}}">
    </head>
    <body>
        <div class="timeline">
            <div class="container left">
              <div class="content">
                <h2>Malaysia</h2>
                <p>Grown freshly in farms, watered regularly.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Singapore</h2>
                <p>Shipped over by plane</p>
              </div>
            </div>
          </div>
    </body>
</html>