<!DOCTYPE html>
<html>
    <head>
        <title>Seng Choon Eggs</title>
        <link rel="stylesheet" href="{{url_for('static', filename='timeline.css')}}">
    </head>
    <body>
      <form action="{{url_for('home')}}">
        <input id="back" type="submit" value="Back">
      </form>
        <div class="timeline">
            <div class="container right">
              <div class="content">
                <h2 class="green">Birth</h2>
                <p>The process starts with day-old chicks, carefully sourced from SFA-accredited farms to ensure they’re free from diseases. To protect them, they are vaccinated against diseases according to international standards and guidelines for poultry vaccination.</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2 class="green">Seng Choon Farm</h2>                
                <p>Besides a stress-free environment, a lot of thought goes into ensuring that the chickens are adequately fed with a proper range of nutrients. A computer system does the number-crunching for the proportion of produce used to feed the chickens, like maize and soybean.
                  Their special diet yields eggs with excellent sources of high-quality protein, vitamins and minerals. Probiotics are used to keep chickens healthy.
                </p><p>The eggs are sorted, graded, scanned and cleaned with high-technology processes such as Seng Choon’s quality scanners
                  </p>
                  <a href="https://www.sengchoonfarm.com/sub-page/freshsafeeggs.html">For more info</a>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2 class="green">Supermarket</h2>
                <p>Seng Choon eggs are delivered by their own trucks to their retailers and food manufacturers.
                  Takes less than a day from the time the egg is laid to the moment it lands on the supermarket shelf for sale
                  </p>
              </div>
            </div>
          </div>
    </body>
</html>
