<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <title>TraceEats</title>
    </head>
    <body>
        <h1>TraceEats</h1>
        <h2>Choose your product:</h2>
        <a href="{{url_for('eggs')}}">Seng Choon eggs</a><br>
        <a href="{{url_for('mushroom')}}">Mushrooms</a><br>
        <a href="{{url_for('barramundi')}}">Barramundi</a><br>
    </body>
</html>